---
import LegalLayout from '../../layouts/LegalLayout.astro';
---
<LegalLayout title="Imprint">
    <p><strong>The DevTools Times</strong></p>
    <p>
        123 Astro Way<br>
        Galaxy City, 98765<br>
        Universe
    </p>
    <p>
        <strong>Represented by:</strong><br>
        The DevTools Team
    </p>
    <p>
        <strong>This is not a real news site or company.</strong><br>
        This site has been created for demo purposes.<br>
        To learn more visit <a href="https://developer.chrome.com">developer.chrome.com</a>.
    </p>
</LegalLayout>
