---
import LegalLayout from '../../layouts/LegalLayout.astro';
---
<LegalLayout title="Privacy Policy">
    <h2>1. An overview of data protection</h2>
    <p><strong>General information</strong></p>
    <p>The following information will provide you with an easy to navigate overview of what will happen with your personal data when you visit our website. The term “personal data” comprises all data that can be used to personally identify you. For detailed information about the subject matter of data protection, please consult our Data Protection Declaration, which we have included beneath this copy.</p>
    
    <h2>2. General information and mandatory information</h2>
    <p><strong>Data protection</strong></p>
    <p>The operators of this website and its pages take the protection of your personal data very seriously. Hence, we handle your personal data as confidential information and in compliance with the statutory data protection regulations and this Data Protection Declaration.</p>
    <p>Whenever you use this website, a variety of personal information will be collected. Personal data comprises data that can be used to personally identify you. This Data Protection Declaration explains which data we collect as well as the purposes we use this data for. It also explains how, and for which purpose the information is collected.</p>
    
    <h2>3. Recording of data on our website</h2>
    <p><strong>Cookies</strong></p>
    <p>In some instances, our website and its pages use so-called cookies. Cookies do not cause any damage to your computer and do not contain viruses. The purpose of cookies is to make our website more user friendly, effective and more secure. Cookies are small text files that are placed on your computer and stored by your browser.</p>
</LegalLayout>
